Header.HeaderLine
    .row
        .col-md-4
        .Logo.col-md-4.text-center
            include ../Logo/Logo
        .Panel.col-md-4.col-xl-2
            include ../Panel/Panel
        .col-md-2
    .row
        .col-md-12.text-center.d-sm-none.d-none.d-md-block
            include ../Menu/Menu
        .col-md-12.d-block.d-sm-block.d-md-none.HeaderLine__button
            button.HeaderLine__mobileMenu MENU
            .HeaderLine__dropdown-content
                include ../Menu/Menu
