.HeaderLine

  &__mobileMenu
    height: 50px
    width: 100%
    padding: 15px 0
    border: none
    font-size: 18px !important
    text-align: center

  &__button
    padding-right: 0 !important
    padding-left: 0 !important

  &__dropdown-content
    display: none
    justify-content: center
    align-content: center
    position: absolute
    min-width: 100%
    padding-left: 0 !important
    background-color: #f1f1f1
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)

  &__show
    display: block

