.NewsDownload
  display: flex
  flex-direction: column
  width: 100%
  font-family: 'Lato', sans-serif

  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 33px

    +max($bp-sm)
      flex-direction: column

  &__item
    display: flex
    width: 24%
    font-size: 14px
    cursor: pointer

    +max($bp-sm)
      width: 100%

  &__name
    display: flex
    align-items: center
    justify-content: center
    margin-left: 1%
    color: $tundora
