.NewsDownload
  .NewsDownload__title
    h2 Pliki do pobrania
  .NewsDownload__container
    .NewsDownload__item
      .NewsDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .NewsDownload__name
        p Folder reklamowy (52 kB)
    .NewsDownload__item
      .NewsDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .NewsDownload__name
        p Karta oceny wykonania usługi (22 kB)
    .NewsDownload__item
      .NewsDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .NewsDownload__name
        p Karta oceny wykonania usługi (22 kB)
    .NewsDownload__item
      .NewsDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .NewsDownload__name
        p Karta oceny wykonania usługi (22 kB)
    .NewsDownload__item
      .NewsDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .NewsDownload__name
        p Formularz zgłoszenia usterki (34 kB)
