.EventsHeader
  width: 100%
  height: 95px
  border-bottom: 1px solid $silver
  background-color: $alabaster
  font-family: 'Lato, sans-serif'
  font-size: 24px

  &__box
    display: flex
    justify-content: center
    align-items: center
    height: 100%

  &__slideNews
    display: flex !important
    justify-content: center
    align-items: center
    height: 95px !important
    padding-top: 22px

  &__slideNews span
    display: flex
    align-self: flex-start

    +max($bp-md)
      font-size: 18px

  &__prevNews , &__nextNews
    padding: 9px
    background-color: $silver
    color: $concrete
    font-size: 32px
    z-index: 1
    cursor: pointer

.slick-prev:before , .slick-next:before
  color: black !important

.slick-prev
  left: 15px !important

.slick-next
  right: 15px !important

.slick-dots
  bottom: 20px
  color: $doveGray
  font-size: 10px

.slick-dots li
  width: 10px
  height: 10px
  margin: 3.5px

.slick-dotted.slick-slider
  margin-bottom: 0px

li.slick-active
  color: $black


