.EventsHeader
  .EventsHeader__box
    .EventsHeader__slideNews
      span AKTUALNOŚCI
    .EventsHeader__slideNews
      span NOWOŚCI
    .EventsHeader__slideNews
      span CENNIK
    .EventsHeader__slideNews
      span KONTAKT
