.MainPageTopBanner
  display: flex
  justify-content: center
  align-items: flex-end
  width: 100%
  height: 1015px
  background-image: url(../../assets/images/Main/MainBanner/Banner.png)
  background-size: cover

  +max($bp-md)
      height: 500px
      background-position-x: -210px

  &__arrowDown
    padding-bottom: 20px
    font-size: 80px
    color: $iron
