.ProductsPageContent
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  margin-top: 70px

  &__textContainer, &__downloadContainer , &__productsContainer
    width: 80%
    margin-bottom: 70px

    +max($bp-xxlg)
      width: 90%

