.ProductsPageContent
   .ProductsPageContent__textContainer
      include ../ProductsText/ProductsText
   .ProductsPageContent__downloadContainer
      include ../NewsDownload/NewsDownload
   .ProductsPageContent__productsContainer
      include ../ProductsList/ProductsList
