.PanelSearch
  display: flex
  align-items: flex-start
  flex-direction: row
  width: 100%
  height: 25px
  margin-bottom: 5px

  +max($bp-sm)
    display: none

  &__input
    width: 89%
    height: 100%
    font-family: 'Lato', sans-serif
    font-size: 11px
    padding-left: 5px
