doctype html
html(lang="pl")
  head
    title SOFT-FUSION Template
    meta(charset='utf-8')
    meta(name='title', content='Szablon')
    meta(name='description', content='Szablon opis')
    meta(name='keywords', content='Szablon keywords')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='msapplication-TileImage', content='./assets/favicon/ms-icon-144x144.png')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="./assets/styles/main.min.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,500,600,700" rel="stylesheet")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")

  body
    block content
    script(async, src='./assets/scripts/main.min.js')
