.MainPageOffer
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  margin-top: 20px

  &__offerImage p , .MainPageOffer__mainPrice p , .MainPageOffer__noTaxPrice p , .MainPageOffer__offerName p , .MainPageOffer__offerName p , .MainPageOffer__more p
    margin-bottom: 0

  &__producerImage
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100px
    padding-top: 10px
    padding-bottom: 10px

  &__offerImage ,  &__offerImage img
    display: flex
    position: relative
    width: 100%
    height: 350px

  &__slide
    position: relative

  &__imageText
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 7px
    padding: 4px 16px
    background-color: $red
    color: $white
    font-family: 'Lato',sans-serif
    font-size: 18px
    text-transform: uppercase

  &__oldPrice p, &__oldPrice span
    text-decoration: line-through

  &__mainPrice
    display: flex
    position: absolute
    bottom: 0
    padding: 5px 16px
    background-color: $emperor
    color: $white
    font-family: 'Lato',sans-serif
    font-size: 16px

  &__mainPrice span
    margin-right: 7%
    font-size: 12px

  &__percent
    position: absolute
    bottom: 0
    left: 105px
    color: $emperor
    font-size: 23px

  &__title
    display: flex
    align-items: flex-start
    justify-content: center
    width: 100%
    height: 95px
    border-width: 1px 0
    border-color: $silver
    border-style: solid
    background-color: $alabaster
    font-family: 'Lato', sans-serif
    font-size: 24px
    text-transform: uppercase

  &__title p
    margin-top: 10px
    margin-bottom: 4px

    +max($bp-md)
      margin-top: 15px
      font-size: 18px

  &__mainPrice , &__priceBox , &__order
    display: flex

  &__contentBox
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    min-height: 150px

  &__contentBox &__more
    width: 58%
    margin-top: 10px
    color: white
    font-size: 14px
    font-family: 'Lato', sans-serif
    text-transform: uppercase
    cursor: pointer

  &__contentBox &__more p
    padding: 10px 20px
    background-color: $blue-ribbon
    text-align: center

  &__priceBox &__mainPrice
    display: flex
    justify-content: center
    align-items: center
    position: relative
    width: 66.66%
    font-size: 24px
    font-weight: 900

  &__mainPrice span
    align-self: flex-start

  &__order
    display: flex
    justify-content: space-around
    align-items: center
    width: 33.33%
    background-color: $nobel
    font-family: 'Lato', sans-serif
    font-size: 24px

  &__order input
    width: 45px
    height: 90%
    font-family: 'Lato',sans-serif

  &__order i
    align-self: center
    color: white
    font-size: 32px

  &__noTaxPrice
    display: flex
    justify-content: flex-end
    align-items: center
    width: 66.66%
    padding: 5px 5% 5px 0
    background-color: $alto
    font-family: 'Lato',sans-serif
    font-size: 15px
    font-weight: bold

  &__noTaxPrice span
    align-self: flex-start
    margin-right: 3%
    font-size: 12px

  &__noTaxText
    font-weight: normal

  &__offerName
    display: flex
    flex-direction: column
    justify-content: center
    font-size: 18px
    font-family: 'Lato',sans-serif
    text-align: center

  &__prev , &__next
    position: absolute
    top: -75px
    padding: 9px
    background-color: $silver
    color: $concrete
    font-size: 32px
    z-index: 1
    cursor: pointer
    
  &__next
    right: 0

  &__sale
    background-color: $red

  &__slide
    display: flex !important
    flex-direction: column
    min-height: 720px
    padding-bottom: 10px
    border-bottom: 1px solid $nobel

  &__slide input::placeholder
    padding-right: 7px
    text-align: right

  &__oldPrice
    position: absolute
    bottom: 0

.MainPageOffer .slick-slide
  margin: 0 10px

.MainPageOffer .slick-list
  margin: 0 -10px

.MainPageOffer .slick-dots
  top: -50px
  height: 10px

li.slick-active
    color: $nobel




