.MainPageOffer
  .MainPageOffer__title
    p Wybrane z oferty
  .MainPageOffer__slider
    .MainPageOffer__slide
      .MainPageOffer__producerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Offer/OfferLogotypes/OfferMitsubishi.png" alt="logotypeMitsubishi")
      .MainPageOffer__offerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Offer/OfferProducts/ProductMitsubishi.png" alt="logotypeMitsubishi")
        .MainPageOffer__imageText
          p Nowa Cena
        //- .MainPageOffer__oldPrice
        //-   .MainPageOffer__mainPrice
        //-     p 1942,
        //-     span 03
        //-     p zł
        //- .MainPageOffer__percent
        //-   i.fas.fa-percent
      .MainPageOffer__priceBox
        .MainPageOffer__mainPrice
          p 1744,
          span 03
          p zł
        .MainPageOffer__order
          input(type="text" placeholder="1")
          i.fas.fa-shopping-cart
      .MainPageOffer__noTaxPrice
        p 1244,
        span 03
        p.MainPageOffer__noTaxText zł netto
      .MainPageOffer__contentBox
        .MainPageOffer__offerName
          p Klimatyzator Mitsubishi ścienny
          p ECONOMY MSZ-HJ25VA
          p (jednostka wewnętrzna)

        .MainPageOffer__more
          p więcej informacji


    .MainPageOffer__slide
      .MainPageOffer__producerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Offer/OfferLogotypes/OfferDiversitech.png" alt="logotypeDiversitech")
      .MainPageOffer__offerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Offer/OfferProducts/ProductDiversitech.png" alt="logotypeMitsubishi")
        .MainPageOffer__imageText
          p Nowość w ofercie
        //- .MainPageOffer__oldPrice
        //-   .MainPageOffer__mainPrice
        //-     p 1942,
        //-     span 03
        //-     p zł
        //- .MainPageOffer__percent
        //-   i.fas.fa-percent
      .MainPageOffer__priceBox
        .MainPageOffer__mainPrice
          p 1744,
          span 03
          p zł
        .MainPageOffer__order
          input(type="text" placeholder="1")

          i.fas.fa-shopping-cart
      .MainPageOffer__noTaxPrice
        p 1244,
        span 03
        p.MainPageOffer__noTaxText zł netto
      .MainPageOffer__contentBox
        .MainPageOffer__offerName
          p Proscale
        .MainPageOffer__more
          p więcej informacji



    .MainPageOffer__slide
      .MainPageOffer__producerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Logotypes/logotypeLG.png" alt="logotypeLG")
      .MainPageOffer__offerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Offer/OfferProducts/ProductLG.png" alt="productLG")
        .MainPageOffer__imageText
          p Nowość w ofercie
        .MainPageOffer__oldPrice
          .MainPageOffer__mainPrice
            p 1942,
            span 03
            p zł
        .MainPageOffer__percent
          i.fas.fa-percent
      .MainPageOffer__priceBox
        .MainPageOffer__mainPrice.MainPageOffer__sale
          p 1744,
          span 03
          p zł
        .MainPageOffer__order
          input(type="text" placeholder="1")
          i.fas.fa-shopping-cart
      .MainPageOffer__noTaxPrice
        p 1244,
        span 03
        p.MainPageOffer__noTaxText zł netto
      .MainPageOffer__contentBox
        .MainPageOffer__offerName
          p Klimatyzator Mitsubishi ścienny
          p ECONOMY MSZ-HJ25VA
        .MainPageOffer__more
          p więcej informacji



    .MainPageOffer__slide
      .MainPageOffer__producerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Logotypes/logotypeSamsung.png" alt="logotypeSamsung")
      .MainPageOffer__offerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Offer/OfferProducts/ProductSamsung.png" alt="logotypeMitsubishi")
        .MainPageOffer__imageText
          p Wyprzedaż
        .MainPageOffer__oldPrice
          .MainPageOffer__mainPrice
            p 1405,
            span 03
            p zł
        //- .MainPageOffer__percent
        //-   i.fas.fa-percent
      .MainPageOffer__priceBox
        .MainPageOffer__mainPrice.MainPageOffer__sale
          p 1542,
          span 03
          p zł
        .MainPageOffer__order
          input(type="text" placeholder="1")
          i.fas.fa-shopping-cart
      .MainPageOffer__noTaxPrice
        p 1244,
        span 03
        p.MainPageOffer__noTaxText zł netto
      .MainPageOffer__contentBox
        .MainPageOffer__offerName
          p Klimatyzator Mitsubishi ścienny
        .MainPageOffer__more
          p więcej informacji



    .MainPageOffer__slide
      .MainPageOffer__producerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Logotypes/logotypeSamsung.png" alt="logotypeSamsung")
      .MainPageOffer__offerImage
        img.MainPageOffer__logo(src="./assets/images/Main/Offer/OfferProducts/ProductSamsung.png" alt="logotypeMitsubishi")
        .MainPageOffer__imageText
          p Nowa Cena
        .MainPageOffer__oldPrice
          .MainPageOffer__mainPrice
            p 1942,
            span 03
            p zł
        .MainPageOffer__percent
          i.fas.fa-percent
      .MainPageOffer__priceBox
        .MainPageOffer__mainPrice
          p 1744,
          span 03
          p zł
        .MainPageOffer__order
          input(type="text" placeholder="1")
          i.fas.fa-shopping-cart
      .MainPageOffer__noTaxPrice
        p 1244,
        span 03
        p.MainPageOffer__noTaxText zł netto
      .MainPageOffer__contentBox
        .MainPageOffer__offerName
          p Klimatyzator Mitsubishi ścienny
        .MainPageOffer__more
          p więcej informacji
