.LoginPanel
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  background-color: $emperor

  &__form
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 80%
    margin-top: 30px

  &__input
    height: 32px
    padding-left: 12px
    margin-bottom: 10px
    font-family: 'Lato', sans-serif
    font-size: 14px

  &__loginButton
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 32px
    background-color: $blue-ribbon
    color: $white
    font-family: 'Lato', sans-serif
    font-size: 14px
    font-weight: 700

  &__text
    display: flex
    flex-direction: column
    width: 80%
    margin-top: 29px
    color: white

  &__headerText
    font-family: 'Lato', sans-serif
    font-size: 16px
    font-weight: 700

  &__normalText
    margin-top: 18px
    font-size: 11px
    font-family: 'Lato', sans-serif

  &__registerBox
    display: flex
    justify-content: center
    width: 100%

  &__registerButton
    display: flex
    justify-content: center
    align-items: center
    width: 80%
    height: 32px
    margin-top: 28px
    background-color: $red
    color: $white
    font-family: 'Lato', sans-serif
    font-size: 14px
    font-weight: 700

  &__linkBox
    display: flex
    justify-content: space-between
    align-items: center
    width: 80%
    margin-top: 20px
    margin-bottom: 26px

  &__link
    padding-left: 9px
    color: $white
    font-size: 18px

  &__icon
    font-size: 28px
    color: white
