.LoginPanel
    .LoginPanel__form
        input(type="text" placeholder="login (email)").LoginPanel__input
        input(type="text" placeholder="hasło").LoginPanel__input
        a(href="#").LoginPanel__loginButton Zaloguj
    .LoginPanel__text
        p.LoginPanel__headerText Nie masz konta? Załóż,bo warto!
        p.LoginPanel__normalText Konto w naszym sklepie to wiele korzyści takich jak szybsze zakupy, programy lojalnościowe, rabaty, dodatkowe narzędzia sklepowe.
    .LoginPanel__registerBox
        a(href="#").LoginPanel__registerButton Załóż konto
    .LoginPanel__linkBox
        a(href="#").LoginPanel__link Zakupy bez logowania
        i.material-icons.LoginPanel__icon shopping_cart
