.AboutBanner
  display: flex
  justify-content: center
  align-items: flex-end
  width: 100%
  height: 640px
  background-image: url(../../assets/images/ModuleOfContent/Banner/Banner.png)
  background-size: cover

  +max($bp-sm)
    height: 300px

