.NewsPageContent
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

  &__box
    display: flex
    justify-content: space-between
    width: 80%
    margin-top: 50px
    +max($bp-sm)
      flex-direction: column

  &__calendar
    width: 24%

    +max($bp-sm)
      width: 100%

  &__container
    width: 75%

    +max($bp-sm)
      width: 100%
      margin-top: 40px

