.NewsPageContent
	include ../NewsBanner/NewsBanner
	.NewsPageContent__box
		.NewsPageContent__calendar
			include ../NewsCalendar/NewsCalendar
		.NewsPageContent__container
			include ../NewsContainer/NewsContainer
