.PanelMenu
  display: flex
  position: relative

  &__loginPanel
    display: none
    position: absolute
    top: 38px
    left: 0
    margin: -0.125rem 0 0
    margin-bottom: 0

  &__price
    display: flex
    justify-content: center
    align-items: center
    width: 50%
    background-color: $emperor
    color: $white
    font-family: 'Lato', sans-serif

  &__price:hover &__loginPanel
    display: flex
    z-index: 1

  &__mainPrice
    font-size: 25px
    font-weight: 700

  &__rest
    align-self: center
    font-size: 15px

  &__icons
    display: flex
    justify-content: space-around
    align-items: center
    width: 50%
    margin-bottom: 0
    color: $rolling-stone
    cursor: pointer

  &__iconBox
    display: flex
    justify-content: center
    align-items: center
    width: 33.33%
    height: 100%

  &__iconActive
    background-color: $seashell

