.PanelMenu
    .PanelMenu__price
        span.PanelMenu__mainPrice 3125,
        span.PanelMenu__rest 00 -
        .PanelMenu__loginPanel
          include ../../components/LoginPanel/LoginPanel
    .PanelMenu__icons
      .PanelMenu__iconBox.PanelMenu__iconActive
          i.material-icons shopping_cart
      .PanelMenu__iconBox
        i.material-icons phone_android
      .PanelMenu__iconBox
        i.material-icons mail
    .PanelMenu__loginPanel

