.NewsSlider
  .NewsSlider__box
    .NewsSlider__slideNews
      .NewsSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage1.png" alt="GalleryImage1")
      .NewsSlider__slideText
        p Odgrzybianie klimatyzatora ściennego
    .NewsSlider__slideNews
      .NewsSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage2.png" alt="GalleryImage2")
      .NewsSlider__slideText
        p Instalacja klimatyzatora ściennego na poddaszu
    .NewsSlider__slideNews
      .NewsSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage3.png" alt="GalleryImage3")
      .NewsSlider__slideText
        p Instalacja klimatyzatora na dachu
        p hurtowni spożywczej
    .NewsSlider__slideNews
      .NewsSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage4.png" alt="GalleryImage4")
      .NewsSlider__slideText
        p Instalacja klimatyzatora zewnętrznego
    .NewsSlider__slideNews
      .NewsSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage4.png" alt="GalleryImage4")
      .NewsSlider__slideText
        p Instalacja klimatyzatora zewnętrznego
