.NewsSlider
  width: 100%
  margin: 65px 0
  font-family: 'Lato', sans-serif

  &__box
    display: flex

  &__slideNews
    display: flex !important
    flex-direction: column
    justify-content: center
    align-items: center

  &__slideImage
    width: 100%

  &__slideImage img
    width: 100%
    padding: 1%

  &__prevNews ,   &__nextNews
    position: absolute
    top: 40%
    padding: 5px
    background-color: rgba(105,105,105, 0.8)
    color: $iron
    font-size: 50px
    z-index: 1
    cursor: pointer

    +max($bp-lg)
      top: 30%

  &__prevNews
    left: -0.2%

  &__nextNews
    right: -0.2%

  &__slideText
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 25px
    color: $doveGray
    font-size: 14px
