.AboutText
  display: flex
  flex-direction: column
  width: 80%
  margin-top: 60px
  font-family: 'Lato', sans-serif

  &__title
    display: flex
    justify-content: center
    font-size: 24px
    text-transform: uppercase

  &__textContainer
    display: flex
    justify-content: space-between
    margin-top: 54px
    +max($bp-sm)
      flex-direction: column

  &__textBox
    width: 49%
    font-size: 14px
    text-align: justify

    +max($bp-sm)
      width: 100%

  &__invite
    align-self: flex-end
    margin-bottom: 60px
