.DetailsImages
    .DetailsImages__mainImage
      img.logo(src="./assets/images/DetailsOffer/Details/DetailImages/MainImage.png" alt="logotypeSamsung")
    .DetailsImages__otherImages
      img.logo(src="./assets/images/DetailsOffer/Details/DetailImages/SmallImage1.png" alt="logotypeSamsung")
      img.logo(src="./assets/images/DetailsOffer/Details/DetailImages/SmallImage2.png" alt="logotypeSamsung")
