.DetailsImages
  display: flex
  flex-direction: column

  &__mainImage
    display: flex
    justify-content: center

  &__mainImage img

    +max($bp-xlg)
      width: 400px
      height: 400px

    +max($bp-md)
      width: 600px
      height: 600px

    +max($bp-sm)
      width: 300px
      height: 300px

  &__otherImages
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 10px

  &__otherImages img

    +max($bp-xlg)
      width: 195px
      height: 195px

    +max($bp-md)
      width: 295px
      height: 295px

    +max($bp-sm)
      width: 145px
      height: 145px
