.Menu
  ul.Menu__nav
    li.Menu__element
      a(href="about.html") O firmie
    li.Menu__element
      a(href="news.html")  Aktualności
    li.Menu__element
      a(href="category.html") Promocje
    li.Menu__element
      a(href="products.html") Produkty
    li.Menu__element
      a(href="details.html") Pliki do pobrania
    li.Menu__element
      a Szkolenia
    li.Menu__element
      a Kontakt



