.Menu
  display: flex
  justify-content: center
  padding-top: 15px
  padding-bottom: 15px

  +max($bp-sm)
    padding-top: 0
    padding-bottom: 0

  &__nav
    display: flex
    width: 45%
    justify-content: space-around
    align-items: center

    +max($bp-xxlg)
      width: 70%

    +max($bp-lg)
      width: 100%

    +max($bp-sm)
      flex-direction: column

  &__element
    font-family: 'Lato', sans-serif
    font-size: 14px
    text-transform: uppercase
    cursor: pointer

    +max($bp-sm)
      padding-top: 10px
      padding-bottom: 10px
      font-size: 16px

  &__element:hover
    text-decoration: underline

  &__element a
    color: black

  &__element a:hover
    color: black
