.ProductsBanner
  display: flex
  justify-content: center
  align-items: flex-end
  width: 100%
  height: 1080px
  background-image: url(../../assets/images/ListOfferProduct/Banner/Banner.png)
  background-size: cover

  +max($bp-md)
      height: 500px

  &__arrowDown
    padding-bottom: 20px
    color: $iron
    font-size: 80px
