.CategoryProducts
  .CategoryProducts__categoryName
    p Klimatyzatory lg
  .CategoryProducts__products
    .CategoryProducts__product
      .CategoryProducts__productImage
        img(src="./assets/images/ListOfferCategory/Category/Category1.png" alt="Category1")
      .CategoryProducts__productName
        p Klimatyzatory ścienne
    .CategoryProducts__product
      .CategoryProducts__productImage
        img(src="./assets/images/ListOfferCategory/Category/Category2.png" alt="Category2")
      .CategoryProducts__productName
        p Klimatyzatory komercyjne
    .CategoryProducts__product
      .CategoryProducts__productImage
        img(src="./assets/images/ListOfferCategory/Category/Category3.png" alt="Category3")
      .CategoryProducts__productName
        p Synchro agregaty
    .CategoryProducts__product
      .CategoryProducts__productImage
        img(src="./assets/images/ListOfferCategory/Category/Category4.png" alt="Category4")
      .CategoryProducts__productName
        p Multi split
    .CategoryProducts__product
      .CategoryProducts__productImage
        img(src="./assets/images/ListOfferCategory/Category/Category5.png" alt="Category5")
      .CategoryProducts__productName
        p Centrale rekuperacyjne
