.CategoryProducts
  display: flex
  justify-content: center
  flex-direction: column
  width: 100%
  font-family: 'Lato',sans-serif

  &__categoryName
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    margin-bottom: 24px
    padding: 40px 0
    border-width:  2px 0
    border-style: solid
    border-color: $alto
    background-color: $alabaster
    font-size: 24px
    text-transform: uppercase

  &__products
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    margin-bottom: 5%

    +max($bp-sm)
      flex-direction: column

  &__product
    display: flex
    flex-direction: column
    width: 24%
    margin-bottom: 2%

    +max($bp-sm)
      width: 100%

  &__productName
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 70px
    background-color: $blue-ribbon
    color: white
    font-size: 18px
    text-align: center

  &__product img
    width: 100%
