.NewsCalendar
  display: flex
  flex-direction: column
  width: 100%
  font-family: 'Lato',sans-serif

  &__year
    display: flex
    justify-content: center
    padding-bottom: 21px
    font-size: 30px
    cursor: pointer

  &__month
    display: flex
    justify-content: center
    text-transform: uppercase
    margin-bottom: 0
    padding: 15px 0 25px 0
    border-top: 1px solid $gallery
    font-size: 18px
    font-weight: 700
    cursor: pointer

  &__numberNews
    align-self: flex-end
    padding-left: 1%
    font-size: 14px

  &__event
    margin-bottom: 1%
    padding: 5px 15px 40px 15px
    background-color: $alabaster
    font-size: 18px
    cursor: pointer

  &__eventDate
    font-weight: 300

  &__eventName
    font-weight: 700
