.NewsCalendar
  .NewsCalendar__year
    h1 2016
  .NewsCalendar__month
    .NewsCalendar__monthName
      span Styczeń
    .NewsCalendar__numberNews
     span (2)
  .NewsCalendar__month
    .NewsCalendar__monthName
      span Luty
    .NewsCalendar__numberNews
     span (4)
  .NewsCalendar__month
    .NewsCalendar__monthName
      span Kwiecień
    .NewsCalendar__numberNews
     span (1)
  .NewsCalendar__event
    .NewsCalendar__eventDate
      span 2016.06.23
    .NewsCalendar__eventName
      span Zakończyliśmy wdrożenie systemu klimatyzacji w galerii handlowej
  .NewsCalendar__event
    .NewsCalendar__eventDate
      span 2016.06.23
    .NewsCalendar__eventName
      span Nowość w ofercie SAMSUNG - klimatyzator INVERT
  .NewsCalendar__event
    .NewsCalendar__eventDate
      span 2016.06.23
    .NewsCalendar__eventName
      span Idzie lato pomyśl o chłodnym biurze
