.Footer
    .Footer__content
        .Footer__column
            p.Footer__title Na skróty
            ul.Footer__menuFooter
                li.Footer__menuElement
                    a(href="#") Klimatyzacja Warszawa
                li.Footer__menuElement
                    a(href="#") Wentylacja Warszawa
                li.Footer__menuElement
                    a(href="#") Klimatyzatory SAMSUNG
                li.Footer__menuElement
                    a(href="#") Klimatyzatory LG
        .Footer__column
            p.Footer__title Szybki kontakt
            ul.Footer__menuFooter
                li.Footer__menuElement
                    i.Footer__addressIcon.material-icons local_phone
                    .Footer__contactText 601&nbsp363&nbsp814
                li.Footer__menuElement
                    i.Footer__addressIcon.material-icons mail
                    .Footer__contactText biuro@air4you.pl
        .Footer__column
            p.Footer__title Dojazd
            ul.Footer__menuFooter
                li.Footer__menuElement
                    i.Footer__addressIcon.material-icons home
                    .Footer__address
                        p WARSZAWA
                        P UL.Powisińska 48
                        a(href="#") Zobacz jak do nas dojechać>>
                li.Footer__menuElement
                    i.Footer__addressIcon.material-icons home
                    .Footer__address
                        p ZABRZE
                        P UL. Sienkiewicza 46
                        a(href="#") Zobacz jak do nas dojechać>>
        .Footer__column
            p.Footer__title Informacje o stronie
                .Footer__menuFooter.Footer__others
                        a(href="#") Polityka prywatnosci
                        a(href="#") Regulamin użytkowania strony
                        a(href="#") Mapa strony
                        a(href="#") Realizacja WawMedia 2015
