.Footer
  display: flex
  justify-content: center
  width: 100%
  background-color: $blue-ribbon
  color: white

  &__content
    display: flex
    width: 80%
    margin-top: 24px

    +max($bp-md)
      flex-direction: column

  &__column
    width: 25%
    +max($bp-md)
      width: 100%
      text-align: center

  &__title
    margin-bottom: 30px
    font-family: 'Lato', sans-serif
    font-size: 16px
    text-transform: uppercase

    +max($bp-md)
      margin-bottom: 10px

  &__menuFooter
    font-size: 12px

  &__menuElement
    display: flex
    align-items: center
    justify-content: flex-start

    +max($bp-md)
      justify-content: center
      position: relative
      margin-bottom: 1%

  &__menuElement p
    margin-bottom: 0

  &__menuElement a , .Footer__menuFooter a
    color: $white

  &__address
    margin-bottom: 5%

    +max($bp-md)
      margin-bottom: 0

  &__addressIcon
    align-self: flex-start
    margin-right: 2%
    font-size: 24px

    +max($bp-md)
      position: absolute
      left: 40%
      margin-right: 0

    +max($bp-sm)
      left: 25%

  &__others
    display: flex
    justify-content: flex-start
    flex-direction: column

    +max($bp-md)
      justify-content: center

  &__others a:last-child
    margin-top: 15px
