.ProductsList
  display: flex
  flex-direction: column

  &__listTitle
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    margin-bottom: 24px
    padding: 40px 0
    border-width: 2px 0
    border-style: solid
    border-color: $alto
    background-color: $alabaster
    text-align: center
    text-transform: uppercase

  &__listName
    font-size: 24px

  &__breadcrumbs
    font-size: 14px

  &__offerImage p ,&__imageText p , &__mainPrice p , &__noTaxPrice p , &__offerName p , &__offerName p , &__more p
    margin-bottom: 0

  &__containerProducts
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    +max($bp-lg)
      flex-direction: column

  &__product
    display: flex
    flex-direction: column
    width: 49%
    padding-bottom: 10px
    border-bottom: 2px solid $alabaster

    +max($bp-lg)
      width: 100%

  &__box
    display: flex
    flex-direction: row

    +max($bp-sm)
      flex-direction: column

  &__producerImage
    display: flex
    justify-content: center
    align-items: center
    width: 50%
    height: 100px
    padding: 10px 0

    +max($bp-sm)
      width: 100%

  &__images
    position: relative
    width: 50%

    +max($bp-sm)
      width: 100%

  &__offerImage ,  &__offerImage img
    display: flex
    position: relative
    width: 100%
    height: 350px

  &__imageText
    display: flex
    position: absolute
    justify-content: center
    align-items: center
    top: 10px
    padding: 4px 16px
    background-color: $red
    color: $white
    font-family: 'Lato',sans-serif
    font-size: 18px
    text-transform: uppercase

  &__oldPrice
    position: absolute

  &__oldPrice p, &__oldPrice span
    text-decoration: line-through

  &__mainPrice
    position: absolute
    bottom: 0
    padding: 5px 16px
    background-color: $emperor
    color: $white
    font-family: 'Lato',sans-serif
    font-size: 16px

  &__percent
    position: absolute
    bottom: 0
    left: 105px
    color: $emperor
    font-size: 23px

  &__mainPrice span
    margin-right: 7%
    font-size: 12px

  &__title
    display: flex
    align-items: flex-start
    justify-content: center
    width: 100%
    height: 95px
    border-style: solid
    border-width: 1px 0
    border-color: $silver
    background-color: $alabaster
    font-family: 'Lato', sans-serif
    font-size: 24px
    text-transform: uppercase

  &__title p
    margin-top: 10px
    margin-bottom: 4px

    +max($bp-md)
      margin-top: 15px
      font-size: 18px

  &__mainPrice , &__priceBox , &__order
    display: flex

  &__contentBox
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 50%
    min-height: 150px
    padding-left: 10px
    font-family: 'Lato',sans-serif

    +max($bp-sm)
      margin-top: 30px
      width: 100%

  &__contentBox &__more
    width: 60%
    margin-top: 10px
    padding: 10px 20px
    background-color: $blue-ribbon
    color: white
    font-family: 'Lato', sans-serif
    font-size: 14px
    text-align: center
    text-transform: uppercase
    cursor: pointer

  &__priceBox &__mainPrice
    display: flex
    justify-content: center
    align-items: center
    position: relative
    width: 66.66%
    font-size: 24px
    font-weight: 900

  &__mainPrice span,  &__noTaxPrice span
    align-self: flex-start

  &__order
    display: flex
    justify-content: space-around
    align-items: center
    width: 33.33%
    font-size: 24px
    font-family: 'Lato', sans-serif
    background-color: $nobel

  &__order input
    width: 45px
    height: 90%
    font-family: 'Lato',sans-serif

  &__order i
    align-self: center
    padding-right: 3px
    color: white
    font-size: 32px

  &__noTaxPrice
    display: flex
    justify-content: flex-end
    align-items: center
    width: 66.66%
    padding: 5px 5% 5px 0
    background-color: $alto
    font-family: 'Lato',sans-serif
    font-size: 15px
    font-weight: bold

  &__noTaxPrice span
    margin-right: 3%
    font-size: 12px

  &__noTaxText
    font-weight: normal

  &__sale
    background-color: $red

  &__productDescription
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__icons
    display: flex
    justify-content: center
    align-items: center

  &__iconBox
    display: flex
    justify-content: center
    align-items: center
    width: 65px
    height: 70px
    margin: 5px
    margin-top: 0
    background-color: $alabaster
    color: $silver
    font-size: 34px
    cursor: pointer

  &__productName
    margin-top: 60px
    font-size: 18px
    font-weight: 600

  &__productText
    font-size: 14px
    text-align: justify

