.ProductsList
  .ProductsList__listTitle
    .ProductsList__breadcrumbs
      p klimatyzatory lg  <<   klimatyzatory ścienne <<
    .ProductsList__listName
      p prestige inverter
  .ProductsList__containerProducts
    .ProductsList__product
      .ProductsList__producerImage
        img(src="./assets/images/Main/Offer/OfferLogotypes/OfferLG.png" alt="logotypeDiversitech")
      .ProductsList__box
        .ProductsList__images
          .ProductsList__offerImage
            img.ProductsList__logo(src="./assets/images/Main/Offer/OfferProducts/ProductLG.png" alt="productLG")
          .ProductsList__imageText
            p Nowość w ofercie
          .ProductsList__oldPrice
            .ProductsList__mainPrice
              p 1542,
              span 03
              p zł
            .ProductsList__percent
              i.fas.fa-percent
          .ProductsList__priceBox
            .ProductsList__mainPrice.ProductsList__sale
              p 1405,
              span 03
              p zł
            .ProductsList__order
              input(type="text" placeholder="1")
              i.fas.fa-shopping-cart
          .ProductsList__noTaxPrice
            p 1244,
            span 03
            p.ProductsList__noTaxText zł netto
        .ProductsList__contentBox
          .ProductsList__productDescription
            .ProductsList__icons
              .ProductsList__iconBox
                i.fas.fa-info
              .ProductsList__iconBox
                i.fas.fa-camera
              .ProductsList__iconBox
                i.fas.fa-file
            .ProductsList__productName
              p Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)
            .ProductsList__productText
              p Udoskonalone szerokie nawiewy zapewniają skuteczne rozprowadzanie powietrza, zapobiegając powstawaniu tzw. martwych stref. Możliwość niezależnego sterowania każdej z czterech żaluzji osobno, dzięki instalacji indywidualnych silników.
            .ProductsList__more
              p więcej informacji




    .ProductsList__product
      .ProductsList__producerImage
        img(src="./assets/images/Main/Offer/OfferLogotypes/OfferLG.png" alt="logotypeDiversitech")
      .ProductsList__box
        .ProductsList__images
          .ProductsList__offerImage
            img.ProductsList__logo(src="./assets/images/Main/Offer/OfferProducts/ProductLG.png" alt="productLG")
          .ProductsList__imageText
            p Nowość w ofercie
          .ProductsList__oldPrice
            .ProductsList__mainPrice
              p 1542,
              span 03
              p zł
            .ProductsList__percent
              i.fas.fa-percent
          .ProductsList__priceBox
            .ProductsList__mainPrice.ProductsList__sale
              p 1405,
              span 03
              p zł
            .ProductsList__order
              input(type="text" placeholder="1")
              i.fas.fa-shopping-cart
          .ProductsList__noTaxPrice
            p 1244,
            span 03
            p.ProductsList__noTaxText zł netto
        .ProductsList__contentBox
          .ProductsList__productDescription
            .ProductsList__icons
              .ProductsList__iconBox
                i.fas.fa-info
              .ProductsList__iconBox
                i.fas.fa-camera
              .ProductsList__iconBox
                i.fas.fa-file
            .ProductsList__productName
              p Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)
            .ProductsList__productText
              p Udoskonalone szerokie nawiewy zapewniają skuteczne rozprowadzanie powietrza, zapobiegając powstawaniu tzw. martwych stref. Możliwość niezależnego sterowania każdej z czterech żaluzji osobno, dzięki instalacji indywidualnych silników.
            .ProductsList__more
              p więcej informacji
    .ProductsList__product
      .ProductsList__producerImage
        img(src="./assets/images/Main/Offer/OfferLogotypes/OfferLG.png" alt="logotypeDiversitech")
      .ProductsList__box
        .ProductsList__images
          .ProductsList__offerImage
            img.ProductsList__logo(src="./assets/images/Main/Offer/OfferProducts/ProductLG.png" alt="productLG")
          .ProductsList__imageText
            p Nowość w ofercie
          .ProductsList__oldPrice
            .ProductsList__mainPrice
              p 1542,
              span 03
              p zł
            .ProductsList__percent
              i.fas.fa-percent
          .ProductsList__priceBox
            .ProductsList__mainPrice.ProductsList__sale
              p 1405,
              span 03
              p zł
            .ProductsList__order
              input(type="text" placeholder="1")
              i.fas.fa-shopping-cart
          .ProductsList__noTaxPrice
            p 1244,
            span 03
            p.ProductsList__noTaxText zł netto
        .ProductsList__contentBox
          .ProductsList__productDescription
            .ProductsList__icons
              .ProductsList__iconBox
                i.fas.fa-info
              .ProductsList__iconBox
                i.fas.fa-camera
              .ProductsList__iconBox
                i.fas.fa-file
            .ProductsList__productName
              p Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)
            .ProductsList__productText
              p Udoskonalone szerokie nawiewy zapewniają skuteczne rozprowadzanie powietrza, zapobiegając powstawaniu tzw. martwych stref. Możliwość niezależnego sterowania każdej z czterech żaluzji osobno, dzięki instalacji indywidualnych silników.
            .ProductsList__more
              p więcej informacji
    .ProductsList__product
      .ProductsList__producerImage
        img(src="./assets/images/Main/Offer/OfferLogotypes/OfferLG.png" alt="logotypeDiversitech")
      .ProductsList__box
        .ProductsList__images
          .ProductsList__offerImage
            img.ProductsList__logo(src="./assets/images/Main/Offer/OfferProducts/ProductLG.png" alt="productLG")
          .ProductsList__imageText
            p Nowość w ofercie
          .ProductsList__oldPrice
            .ProductsList__mainPrice
              p 1542,
              span 03
              p zł
            .ProductsList__percent
              i.fas.fa-percent
          .ProductsList__priceBox
            .ProductsList__mainPrice.ProductsList__sale
              p 1405,
              span 03
              p zł
            .ProductsList__order
              input(type="text" placeholder="1")
              i.fas.fa-shopping-cart
          .ProductsList__noTaxPrice
            p 1244,
            span 03
            p.ProductsList__noTaxText zł netto
        .ProductsList__contentBox
          .ProductsList__productDescription
            .ProductsList__icons
              .ProductsList__iconBox
                i.fas.fa-info
              .ProductsList__iconBox
                i.fas.fa-camera
              .ProductsList__iconBox
                i.fas.fa-file
            .ProductsList__productName
              p Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)
            .ProductsList__productText
              p Udoskonalone szerokie nawiewy zapewniają skuteczne rozprowadzanie powietrza, zapobiegając powstawaniu tzw. martwych stref. Możliwość niezależnego sterowania każdej z czterech żaluzji osobno, dzięki instalacji indywidualnych silników.
            .ProductsList__more
              p więcej informacji
    .ProductsList__product
      .ProductsList__producerImage
        img(src="./assets/images/Main/Offer/OfferLogotypes/OfferLG.png" alt="logotypeDiversitech")
      .ProductsList__box
        .ProductsList__images
          .ProductsList__offerImage
            img.ProductsList__logo(src="./assets/images/Main/Offer/OfferProducts/ProductLG.png" alt="productLG")
          .ProductsList__imageText
            p Nowość w ofercie
          .ProductsList__oldPrice
            .ProductsList__mainPrice
              p 1542,
              span 03
              p zł
            .ProductsList__percent
              i.fas.fa-percent
          .ProductsList__priceBox
            .ProductsList__mainPrice.ProductsList__sale
              p 1405,
              span 03
              p zł
            .ProductsList__order
              input(type="text" placeholder="1")
              i.fas.fa-shopping-cart
          .ProductsList__noTaxPrice
            p 1244,
            span 03
            p.ProductsList__noTaxText zł netto
        .ProductsList__contentBox
          .ProductsList__productDescription
            .ProductsList__icons
              .ProductsList__iconBox
                i.fas.fa-info
              .ProductsList__iconBox
                i.fas.fa-camera
              .ProductsList__iconBox
                i.fas.fa-file
            .ProductsList__productName
              p Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)
            .ProductsList__productText
              p Udoskonalone szerokie nawiewy zapewniają skuteczne rozprowadzanie powietrza, zapobiegając powstawaniu tzw. martwych stref. Możliwość niezależnego sterowania każdej z czterech żaluzji osobno, dzięki instalacji indywidualnych silników.
            .ProductsList__more
              p więcej informacji
    .ProductsList__product
      .ProductsList__producerImage
        img(src="./assets/images/Main/Offer/OfferLogotypes/OfferLG.png" alt="logotypeDiversitech")
      .ProductsList__box
        .ProductsList__images
          .ProductsList__offerImage
            img.ProductsList__logo(src="./assets/images/Main/Offer/OfferProducts/ProductLG.png" alt="productLG")
          .ProductsList__imageText
            p Nowość w ofercie
          .ProductsList__oldPrice
            .ProductsList__mainPrice
              p 1542,
              span 03
              p zł
            .ProductsList__percent
              i.fas.fa-percent
          .ProductsList__priceBox
            .ProductsList__mainPrice.ProductsList__sale
              p 1405,
              span 03
              p zł
            .ProductsList__order
              input(type="text" placeholder="1")
              i.fas.fa-shopping-cart
          .ProductsList__noTaxPrice
            p 1244,
            span 03
            p.ProductsList__noTaxText zł netto
        .ProductsList__contentBox
          .ProductsList__productDescription
            .ProductsList__icons
              .ProductsList__iconBox
                i.fas.fa-info
              .ProductsList__iconBox
                i.fas.fa-camera
              .ProductsList__iconBox
                i.fas.fa-file
            .ProductsList__productName
              p Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)
            .ProductsList__productText
              p Udoskonalone szerokie nawiewy zapewniają skuteczne rozprowadzanie powietrza, zapobiegając powstawaniu tzw. martwych stref. Możliwość niezależnego sterowania każdej z czterech żaluzji osobno, dzięki instalacji indywidualnych silników.
            .ProductsList__more
              p więcej informacji
