.DetailsPageContent
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  margin: 70px 0

  &__box
    display: flex
    justify-content: space-between
    width: 80%

    +max($bp-md)
      flex-direction: column

    +max($bp-xlg)
      width: 90%

  &__images
    display: flex
    justify-content: flex-end
    width: 50%

    +max($bp-xlg)
      justify-content: center

    +max($bp-md)
      justify-content: center
      width: 100%
      margin-bottom: 40px

  &__description
    width: 50%
    margin: 1%

    +max($bp-md)
      width: 100%
