.DetailsPageContent
  .DetailsPageContent__box
    .DetailsPageContent__images
      include ../DetailsImages/DetailsImages
    .DetailsPageContent__description
      include ../DetailsText/DetailsText
