.AboutDownload
  .AboutDownload__title
    h2 Pliki do pobrania
  .AboutDownload__container
    .AboutDownload__item
      .AboutDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .AboutDownload__name
        p Folder reklamowy (52 kB)
    .AboutDownload__item
      .AboutDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .AboutDownload__name
        p Karta oceny wykonania usługi (22 kB)
    .AboutDownload__item
      .AboutDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .AboutDownload__name
        p Karta oceny wykonania usługi (22 kB)
    .AboutDownload__item
      .AboutDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .AboutDownload__name
        p Karta oceny wykonania usługi (22 kB)
    .AboutDownload__item
      .AboutDownload__img
        img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
      .AboutDownload__name
        p Formularz zgłoszenia usterki (34 kB)
