.DetailsText
  .DetailsText__top
    .DetailsText__producerBox
      .DetailsText__producerLogo
        img.logo(src="./assets/images/DetailsOffer/Details/DetailLogo/DetailLogo.png" alt="logotypeSamsung")
      .DetailsText__gridIcon
         i.fas.fa-th
    .DetailsText__order
      .DetailsText__oldPrice
        .DetailsText__sale
          p 1542,
          span 03
          p zł
        .DetailsText__percent
          i.fas.fa-percent
      .DetailsText__priceBox
        .DetailsText__mainPrice
          p 1405,
          span 03
          p zł
        .DetailsText__orderInput
          input(type="text" placeholder="1")
          i.fas.fa-shopping-cart
      .DetailsText__noTaxPrice
        p 1244,
        span 03
            p.DetailsText__noTaxText zł netto
  .DetailsText__name
    p Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)

  table.DetailsText__table
    tr
      th
      th
    tr
      td Moc chłodnicza
      td 5 kW
    tr
      td Moc grzewcza
      td 5,5 kW
    tr
      td Pomieszczenie
      td 25 - 35 m2
    tr
      td Klasa energetyczna
      td A+
  .DetailsText__text
    p Firma LG jest obecna na polskim rynku klimatyzacji od wielu lat. Klimatyzatory LG to połączenie przystępnej ceny z wysoką jakością. Urządzenia LG znane są z dużej niezawodności, która w połączeniu z nowoczesną technologią, estetycznym wyglądem oraz cichą pracą powoduje, że LG Electronics jest od lat światowym liderem w sprzedaży urządzeń klimatyzacyjnych. Firma Omega jako dealer klimatyzatorów LG zaprasza do skorzytania z oferty.
  .DetailsText__buttons
    .DetailsText__parametersButton
      p parametry
    .DetailsText__downloadButton
      p pliki do pobrania
    .DetailsText__placeholder
  .DetailsText__download
    .DetailsText__downloadTitle
      p Pliki do pobrania
    .DetailsText__container
      .DetailsText__downloadItem
        .DetailsText__img
          img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
        .DetailsText__fileName
          p Folder Reklamowy (22 kB)
      .DetailsText__downloadItem
        .DetailsText__img
          img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
        .DetailsText__fileName
          p Folder Reklamowy (22 kB)
      .DetailsText__downloadItem
        .DetailsText__img
          img.icon(src="./assets/images/ModuleOfContent/Download/pdf.png" alt="pdfIcon")
        .DetailsText__fileName
          p Folder Reklamowy (22 kB)
