.DetailsText
  display: flex
  flex-direction: column
  width: 100%

  &__top
    display: flex
    flex-direction: row
    width: 100%

    +max($bp-xs)
      flex-direction: column

  &__producerBox
    display: flex
    justify-content: space-between
    align-items: center
    width: 50%

    +max($bp-md)
      width: 40%

    +max($bp-xs)
      width: 100%

  &__producerLogo
    display: flex
    align-items: center

  &__gridIcon
    display: flex
    justify-content: center
    align-items: center
    width: 53px
    height: 57px
    background-color: $wild-sand
    color: $silver-chalice
    font-size: 18px

  &__order
    display: flex
    flex-direction: column
    width: 50%
    margin-top: 35px
    font-family: 'Lato', sans-serif

    +max($bp-md)
      width: 60%

    +max($bp-xs)
      width: 100%

  &__priceBox
    display: flex
    width: 100%

  &__priceBox &__mainPrice
    display: flex
    justify-content: center
    align-items: center
    position: relative
    width: 66.66%
    background-color: red
    color: $white
    font-size: 24px
    font-weight: 900

  &__mainPrice span,  &__noTaxPrice span
    align-self: flex-start

  &__noTaxPrice
    display: flex
    justify-content: flex-end
    align-items: center
    width: 66.66%
    padding: 5px 5px 5px 0
    background-color: $alto
    font-family: 'Lato',sans-serif
    font-size: 15px
    font-weight: bold

  &__noTaxPrice span
    display: flex
    margin-right: 3%
    font-size: 12px

  &__noTaxText
    font-weight: normal

  &__order input
    width: 45px
    height: 90%
    font-family: 'Lato',sans-serif

  &__sale
    display: flex
    position: absolute
    bottom: 0
    padding: 5px 16px
    background-color: $emperor
    color: $white
    font-family: 'Lato',sans-serif
    font-size: 16px

  &__percent
    position: absolute
    bottom: 0
    left: 105px
    color: $emperor
    font-size: 23px

  &__mainPrice span
    margin-right: 7%
    font-size: 12px

  &__oldPrice
    display: flex
    position: absolute
    width: 100%

  &__oldPrice p, &__oldPrice span
    text-decoration: line-through

  &__sale span
    margin-right: 7%
    font-size: 12px

  &__orderInput
    display: flex
    justify-content: space-around
    align-items: center
    width: 33.33%
    padding: 4px 0 4px 0
    background-color: $nobel

  &__orderInput input
    width: 45px
    height: 90%
    padding-left: 20px
    font-family: 'Lato',sans-serif
    font-size: 22px

  &__orderInput i
    align-self: center
    padding-right: 3px
    color: white
    font-size: 32px

  &__name
    margin-top: 20px
    font-family: 'Lato',sans-serif
    font-size: 18px
    font-weight: 700

  &__table
    width: 100%
    margin-top: 45px
    font-family: 'Lato',sans-serif
    font-size: 16px

  tr:nth-child(even)
    background-color: $concrete

  td
    padding: 10px

  &__text
    margin-top: 60px
    font-family: 'Lato' ,sans-serif
    font-size: 14px
    text-align: justify

  &__container
    display: flex
    flex-wrap: wrap

  &__buttons
    display: flex
    width: 100%
    margin-top: 56px
    font-family: 'Lato',sans-serif
    font-size: 14px
    text-transform: uppercase

  &__parametersButton
    display: flex
    justify-content: center
    align-items: center
    width: 25%
    padding:  7px 0
    background-color: $blue-ribbon
    text-align: center
    color: white

    +max($bp-xlg)
      width: 40%

  &__downloadButton
    display: flex
    justify-content: center
    align-items: center
    width: 25%
    padding: 7px 0
    border-width: 1px 1px 0 0
    border-style: solid
    border-color: $silver
    text-align: center

    +max($bp-xlg)
      width: 40%

  &__placeholder
    width: 50%
    border-bottom: 1px solid $silver

    +max($bp-xlg)
      width: 20%

  &__downloadTitle
    margin-top: 20px
    margin-bottom: 35px
    font-family: 'Lato',sans-serif
    font-size: 18px
    font-weight: 700

  &__downloadItem
    display: flex
    width: 50%
    font-size: 14px
    cursor: pointer

    +max($bp-sm)
      width: 100%

  &__fileName
    display: flex
    align-items: center
    justify-content: center
    margin-left: 1%
    color: $tundora

    //Bootstrap reset
  &__mainPrice p,  &__noTaxPrice p ,&__sale p , &__parametersButton p ,&__downloadButton p
    margin-bottom: 0
