.Events
  .Events__box
    .Events__slideNews
      .Events__image
        img.Events__imageContent(src="./assets/images/Main/News/New1.png" alt="Air4You")
      .Events__info
        .Events__header
          .Events__date
            p 2016-08-16
          .Events__title
            p Zakończyliśmy realizacje projektu dla Tesco.
        .Events__text
          p Let us estimate the job online, giving you Line Item Costs with options and alternatives. Contact Able Group Inc. for the most informative trade professionals in our area. Item Costs with options and alternatives. Contact Able Group Inc.
        .Events__more
          a(href="#") Więcej>>
    .Events__slideNews
      .Events__image
        img.Events__imageContent(src="./assets/images/Main/News/New2.png" alt="Air4You")
      .Events__info
        .Events__header
          .Events__date
            p 2015-11-16
          .Events__title
            p DZIAŁALNOŚĆ FIRMY W TRAKCIE  ŚWIĄT WIELKANOCNYCH
        .Events__text
          p Let us estimate the job online, giving you Line Item Costs with options and alternatives. Contact Able Group Inc. for the most informative trade professionals in our area. Item Costs with options and alternatives. Contact Able Group Inc.
        .Events__more
          a(href="#") Więcej>>
    .Events__slideNews
      .Events__image
        img.Events__imageContent(src="./assets/images/Main/News/New1.png" alt="Air4You")
      .Events__info
        .Events__header
          .Events__date
            p 2016-08-16
          .Events__title
            p Niech ryczy z bólu ranny łoś
        .Events__text
          p Let us estimate the job online, giving you Line Item Costs with options and alternatives. Contact Able Group Inc. for the most informative trade professionals in our area. Item Costs with options and alternatives. Contact Able Group Inc.
        .Events__more
          a(href="#") Więcej>>

    .Events__slideNews
      .Events__image
        img.Events__imageContent(src="./assets/images/Main/News/New2.png" alt="Air4You")
      .Events__info
        .Events__header
          .Events__date
            p 2016-08-16
          .Events__title
            p Zwierz zdrów przebiega knieje
        .Events__text
          p Let us estimate the job online, giving you Line Item Costs with options and alternatives. Contact Able Group Inc. for the most informative trade professionals in our area. Item Costs with options and alternatives. Contact Able Group Inc.
        .Events__more
          a(href="#") Więcej>>
