.Events
  width: 100%
  margin-top: 28px

  &__box
    display: flex
    align-items: flex-start

  &__slideNews
    display: flex !important
    justify-content: center
    align-items: center
    width: 99%
    height: 350px
    padding-bottom: 37px
    border-bottom: 2px solid $gallery

    +max($bp-lg)
      flex-direction: column
      height: 610px

  &__info
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    margin-right: 25px
    margin-left: 18px
    font-family: 'Lato', sans-serif

  &__date
    font-size: 12px

  &__title
    height: 25%
    font-size: 20px
    text-transform: uppercase

  &__text
    font-size: 14px
    text-align: justify

  &__more
    align-self: flex-end
    font-size: 14px

  &__prevNews
    left: 0

  &__nextNews
    right: 0

  &__prevNews, &__nextNews
    position: absolute
    bottom: 0
    padding: 9px
    background-color: rgba(196, 196, 196, 0.7)
    color: $concrete
    font-size: 32px
    z-index: 1
    cursor: pointer

    +max($bp-lg)
      bottom: inherit
      top: 125px

  &__image
    display: flex
    justify-content: center
    width: 50%

    +max($bp-xlg)
      width: 40%

  &__imageContent
    align-self: flex-start
    margin-top: 0

    +max($bp-xlg)
      height: 200px
      width: 200px

    +max($bp-md)
      height: 320px
      width: 420px

.Events .slick-list
  min-height: 390px
  margin: 0 -10px

.Events .slick-dots
  bottom: 15px
  color: $doveGray
  font-size: 10px

  +max($bp-xs)
    bottom: 5px

.Events .slick-slide
    margin: 0 10px

