.AboutSlider
  .AboutSlider__box
    .AboutSlider__slideAbout
      .AboutSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage1.png" alt="GalleryImage1")
      .AboutSlider__slideText
        p Odgrzybianie klimatyzatora ściennego
    .AboutSlider__slideAbout
      .AboutSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage2.png" alt="GalleryImage2")
      .AboutSlider__slideText
        p Instalacja klimatyzatora ściennego na poddaszu
    .AboutSlider__slideAbout
      .AboutSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage3.png" alt="GalleryImage3")
      .AboutSlider__slideText
        p Instalacja klimatyzatora na dachu
        p hurtowni spożywczej
    .AboutSlider__slideAbout
      .AboutSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage4.png" alt="GalleryImage4")
      .AboutSlider__slideText
        p Instalacja klimatyzatora zewnętrznego
    .AboutSlider__slideAbout
      .AboutSlider__slideImage
        img.slideLogo(src="./assets/images/ModuleOfContent/Gallery/GalleryImage4.png" alt="GalleryImage4")
      .AboutSlider__slideText
        p Instalacja klimatyzatora zewnętrznego
