.AboutSlider
  display: flex
  width: 80%
  margin-top: 65px
  margin-bottom: 65px
  font-family: 'Lato', sans-serif

  &__box
    display: flex
    width: 100%

  &__box .slick-slide
    margin: 0 10px

  &__box .slick-list
    margin: 0 -10px

  &__slideAbout
    display: flex !important
    flex-direction: column
    justify-content: center
    align-items: center

  &__slideImage ,  &__slideImage img
    width: 100%

  &__prevAbout ,   &__nextAbout
    position: absolute
    top: 40%
    padding: 5px
    background-color: rgba(105,105,105, 0.8)
    color: $iron
    font-size: 50px
    z-index: 1
    cursor: pointer

    +max($bp-lg)
      top: 30%

  &__prevAbout
    left: -0.2%

  &__nextAbout
    right: -0.2%

  &__slideText
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 25px
    color: $doveGray
    font-size: 14px


