.MainPageText
  .MainPageText__description
    h2.MainPageText__title KLIMATYZACJA DLA KAŻDEGO
    .MainPageText__textBox
      p W Air 4 You specjalizujemy się w klimatyzacji i wentylacji. Nasza hurtownia klimatyzacyjna  stawia tylko na sprawdzonych producentów. Jesteśmy renomowanym dystrybutorem nowoczesnych urządzeń takich marek jak Toshiba, Mitsubishi, Samsung czy LG, stale dostarczając naszym klientom tylko najlepszą jakość obsługi i indywidualni dobrany sprzęt.
      p Hurtownia klimatyzacji oferuje klimatyzatory wewnętrzne i zewnętrzne, klimatyzatory naścienne i centrale klimatyzacyjne. Dodatkowo sprzedajemy materiały instalacyjne i wentylatory. Szeroki wybór to nasz duży atut, dlatego u nas mogą znaleźć Państwo odpowiednie rozwiązania do każdego wnętrza. Służymy fachowym doradztwem w doborze i zapewniamy kompleksową obsługę włącznie z montażem klimatyzacji.
    .MainPageText__more
      a(href="#") więcej informacji
  .MainPageText__description
    h2.MainPageText__title MONTAŻ KLIMATYZACJI
    .MainPageText__textBox
      p W ramach naszych usług, pragniemy zaoferować Państwu: montaż klimatyzacji, dobór systemów klimatyzacji i wentylacji, doradztwo techniczne, sprzedaż urządzeń klimatyzacyjnych i wentylacyjnych, a także niezwykle ważny serwis klimatyzacji i wentylacji, jak również konserwację urządzeń i systemów klimatyzacyjnych oraz wentylacyjnych.
      p Nasza oferta to bogaty wachlarz rozwiązań, który przypadnie do gustu nawet i najbardziej wymagającym klientom. Zachęcamy Państwa serdecznie do zwrócenia uwagi na naszą ofertę, dzięki której zastosowana u Państwa wentylacja lub klimatyzacja okaże się być inwestycją trafioną w samą dziesiątkę.
    .MainPageText__more
      a(href="#") więcej informacji
