.MainPageText
  display: flex
  justify-content: space-around
  position: relative
  width: 100%
  min-height: 330px
  margin-top: 40px
  font-family: 'Lato',sans-serif

  +max($bp-md)
    flex-direction: column

  &__textBox
    min-height: 330px

    +max($bp-lg)
      min-height: 390px

    +max($bp-md)
      min-height: 0px

  &__title
    margin-bottom: 35px

  &__description
    position: relative
    width: 50%
    margin: 1%
    font-size: 14px
    text-align: justify

    +max($bp-md)
      width: 100%
      margin-bottom: 40px

  &__more
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    bottom: 20px
    width: 100%

    +max($bp-md)
      position: relative
      bottom: 0

  &__more a
    padding: 10px 20px
    background-color: $blue-ribbon
    color: white
    text-transform: uppercase
