.NewsContainer
  .NewsContainer__mainDate
    p 2016.06.23
  .NewsContainer__mainTitle
    p Zakończyliśmy wdrożenie klimatyzacji w galerii handlowej
  .NewsContainer__description
    p Naszym głównym celem w Hurtowni Air 4 You jest dostarczanie klientom zaawansowanych i dobranych indywidualnie systemów klimatyzacyjnych i wentylacyjnych. Współpracujemy z wieloma uznanymi w branży markami, w tym Samsung, LG, Mitsubishi oraz Toshiba, które dostarczają urządzenia różnorodnych typów zarówno do domów, jak i lokali komercyjnych czy biurowych.
    p Oferujemy klimatyzatory Samsung ścienne monosplit w serii RAC, serii monosplit CAC przeznaczone do zabudowy, także układy multi FJM, które pozwalają na przyłączenie nawet czterech jednostek wewnętrznych dowolnego rodzaju. Także sprzedajemy systemy klimatyzacyjne DVM, które oddają do dyspozycji pełną gamę różnych typów jednostek wewnętrznych, aby dopasować je indywidualnie do wymagań użytkowników.
    p Uzupełnieniem naszej palety urządzeń Samsung są rekuperatory ERV – wyjątkowo energooszczędne, wydajne i ciche, które są wyposażone w automatyczne by-passy oraz filtry klasy F8. Systemy te mogą być sterowane wspólnie przez system centralny lub indywidualnie. Dodatkowo w naszej hurtowni mogą zakupić Państwo nowoczesne pompy z serii EHS działające jako powietrze-woda (A2W). To sprzęt skierowany głównie do montażu w domach jednorodzinnych.
  .NewsContainer__download
    include ../NewsDownload/NewsDownload
  .NewsContainer__slider
    include ../NewsSlider/NewsSlider
