.NewsContainer
  width: 100%
  font-family: 'Lato', sans-serif

  &__mainDate
    font-size: 14px

  &__mainTitle
    margin-bottom: 52px
    font-size: 18px
    font-weight: 700
    text-transform: uppercase

  &__description
    margin-bottom: 58px
    font-size: 14px
    text-align: justify


