.CategoryPageContent
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

  &__download , &__text , &__productsBox
    width: 80%

  &__text
    margin-top: 65px
    margin-bottom: 70px

  &__download
    margin-bottom: 70px
