.CategoryPageContent
  .CategoryPageContent__text
    include ../CategoryText/CategoryText
  .CategoryPageContent__download
    include ../NewsDownload/NewsDownload
  .CategoryPageContent__productsBox
    include ../CategoryProducts/CategoryProducts
