.ProducersSlider
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  
  &__box
    width: 100%
    margin-bottom: 22px
    border-bottom: 1px solid $silver

  &__slide
    display: flex !important
    justify-content: center
    align-content: center
    align-items: center
    height: 113px !important

  &__prev , &__next
    position: absolute
    top: 50%
    color: $alto
    font-size: 18px
    z-index: 1
    cursor: pointer

  &__prev
    left: 1%

  &__next
    right: 1%

