.ProducersSlider
  .ProducersSlider__box
    .ProducersSlider__slide
      img.logo(src="./assets/images/Main/Logotypes/logotypeSamsung.png" alt="logotypeSamsung")
    .ProducersSlider__slide
      img.logo(src="./assets/images/Main/Logotypes/logotypeLG.png" alt="logotypeLG")
    .ProducersSlider__slide
      img.logo(src="./assets/images/Main/Logotypes/logotypeMitsubishi.png" alt="logotypeMitsubishi")
    .ProducersSlider__slide
      img.logo(src="./assets/images/Main/Logotypes/logotypeToshiba.png" alt="logotypeToshiba")
