// Colors Palette.
$white: #fff
$alto: #d8d8d8
$gallery: #eaeaea
$mine-shaft: #333
$black: #000
$emperor: #515151
$rolling-stone: #737476
$seashell: #f1f1f1
$blue-ribbon: #006cff;
$iron: #d0d3d6
$alto: #cecece;
$alabaster: #f9f9f9;
$concrete: #f3f3f3;
$doveGray: #616161;
$tundora: #4e4e4e;
$silver-chalice: #b2b2b2
$wild-sand: #f7f7f7;
// Colors Social
$chambry:  #3b5998 //facebook color
$cerulean: #00aced //twitter color
$valencia: #d34836 //google plus color
$silver: #C4C4C4
$nobel: #b7b7b7

//Colors CMS Hightlight
$yellow: #ff0
$red: #f00

// Breakpoints
$bp-xs: 610
$bp-sm: 767
$bp-md: 969
$bp-lg: 1024
$bp-xlg: 1280
$bp-xxlg: 1440
$bp-xxxlg: 1920

// Base font-size to REM FONT
$base-font-size: 10

// Z-index elements on page
$z-index: (loader: 1000, header: 200, textbox: 1, banner: 1)
