extends ./../components/layout/_layout

block content
  include ../components/Header/Header
  include ../components/AboutBanner/AboutBanner
  include ../components/AboutPageContent/AboutPageContent
  include ../components/Footer/Footer
