extends ./../components/layout/_layout

block content
  include ../components/Header/Header
  include ../components/CategoryBanner/CategoryBanner
  include ../components/CategoryPageContent/CategoryPageContent
  include ../components/Footer/Footer
