extends ./../components/layout/_layout

block content
  include ../components/Header/Header
  include ../components/ProductsBanner/ProductsBanner
  include ../components/DetailsPageContent/DetailsPageContent
  include ../components/Footer/Footer
