extends ./../components/layout/_layout

block content
	include ../components/Header/Header
	include ../components/MainPageTopBanner/MainPageTopBanner
	include ../components/MainPageContent/MainPageContent
	include ../components/Footer/Footer
