extends ./../components/layout/_layout

block content
  include ../components/Header/Header
  include ../components/ProductsBanner/ProductsBanner
  include ../components/ProductsPageContent/ProductsPageContent
  include ../components/Footer/Footer
