.MainPageContent
	.MainPageContent__box
		include ../ProducersSlider/ProducersSlider
		include ../EventsHeader/EventsHeader
		include ../Events/Events
		include ../MainPageAdvertBanner/MainPageAdvertBanner
		include ../MainPageOffer/MainPageOffer
		include ../MainPageText/MainPageText
