.CategoryText
  display: flex
  flex-direction: column
  align-items: center
  font-family: 'Lato',sans-serif

  &__title
    margin-bottom: 32px
    font-size: 24px
    text-transform: uppercase

  &__description
    padding-right: 10px
    padding-left: 10px
    color: $tundora
    font-size: 14px
    text-align: justify
