.CategoryText
  .CategoryText__title
    p klimatyzatory lg
  .CategoryText__description
    p Na początku października w sklepach Lidl dostępne były skórzane torebki Wittchen w promocyjnych cenach. Każdą można było kupić za 249 zł, podczas gdy w salonie firmowym Wittchen kosztują one dwukrotnie więcej. Akcja spotkała się z ogromnym zainteresowaniem klientek, które ustawiały się w kolejkach już przed otwarciem sklepu.
    p – To już nasza trzecia akcja z Lidlem. Chcieliśmy w ten sposób dotrzeć do klientów z klasy średniej. Taki klient bardzo często boi się wejść do naszych salonów, ponieważ uważa, że nasze produkty są bardzo drogie i nie na jego kieszeń. Stąd też nasz krok. Być może za kilka lat zadowolony z jakości i użytkowania naszych produktów, wróci do naszych salonów – powiedziała agencji informacyjnej Newseria Aleksandra Defitowska, dyrektor sprzedaży Wittchen.
